cbor2
git+https://github.com/netd-tud/cbor4dns
dnspython
gensim
ipywidgets
jupyter_server_fileid
jupyter_server_ydoc
jupyterlab
matplotlib
nbclassic
notebook
pandas
polars-u64-idx
pyarrow
scapy
scikit-learn
seaborn
tqdm
